<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="kakasuApp.book.detail.title">Book</span> {{ book.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kakasuApp.book.title">Title</span></dt>
                <dd>
                    <span>{{ book.title }}</span>
                </dd>
                <dt><span jhiTranslate="kakasuApp.book.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{ book.creationDate }}</span>
                </dd>
                <dt><span jhiTranslate="kakasuApp.book.coverImage">Cover Image</span></dt>
                <dd>
                    <div *ngIf="book.coverImage">
                        <a (click)="openFile(book.coverImageContentType, book.coverImage)">
                            <img [src]="'data:' + book.coverImageContentType + ';base64,' + book.coverImage" style="max-width: 100%;" alt="book image"/>
                        </a>
                        {{ book.coverImageContentType }}, {{ byteSize(book.coverImage) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
